@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 121 80 242;
  --color-primary-darker: 109 72 218;
}

body {
  font-family: "Exo 2", serif;
}

#about-ellie::-webkit-scrollbar {
  width: 0px;
}
